

<style>

    .input_header {
        margin-top: 30px !important;
    }

    .datePicker {
        margin-top: 30px;
    }

    .md-datepicker-calendar-pane.md-pane-open {
        color : #ffffff;
    }

    .ckeckbox {
        margin-right: 20px;
    }

</style>


<md-dialog aria-label="addLink" style="padding : 30px;">

    <div ng-if="pageNumber == 0">
        <h3>Ajouter au visa</h3>
        <form ng-submit="goToPage1()" ng-cloak>
    
            <md-dialog-content class="myContainer">
                
                <md-input-container class="input_header md-block" flex-gt-sm>
                    <label>Visa</label>
                    <md-select required ng-model="visaSelected" ng-change="selectedChange(visaSelected)">
                        <md-option ng-repeat="visa in allVisa track by $index" value="{{visa._server_id}}">
                        {{visa.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                
    
                <div class="displaySelect">
                    
                </div>
    
    
                <md-input-container class="md-block datePicker">
                    <label>Date Limite</label>
                    <md-datepicker  md-open-on-focus md-hide-icons="all" md-min-date="minDate" ng-model="dateToValid"></md-datepicker>
                </md-input-container>
    
    
                <md-input-container class="input_header md-block">
                    <label>Description</label>
                    <textarea ng-model="message" rows="3"></textarea>
                </md-input-container>
    
    
            </md-dialog-content>
    
            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">
                Annuler
                </md-button>
                <md-button ng-if="formValid" type="submit" class="md-primary">
                    OK
                </md-button>
            </md-dialog-actions>
    
        </form>
    </div>
    
    <div ng-if="pageNumber == 1">

        <md-button ng-click="goBack()">
            <i class="fa fa-arrow-left"></i>
            &nbsp;
            Retour
        </md-button>

        <h3>Choisissez les Cases à Valider</h3>

        <md-dialog-content class="myContainer">
    
            <div layout-gt-sm="row">
                <md-input-container  ng-repeat="myCase in caseToCheck" class="ckeckbox md-block">
                    <md-checkbox title="{{myCase.description ? myCase.description : 'no description'}}"   name="{{myCase.name}}" ng-model="myCase.checked" required>
                        {{myCase.name}}
                    </md-checkbox>
                </md-input-container>
            </div>
    
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Annuler
            </md-button>
    
            <md-button ng-click="answer()" class="md-primary">
                OK
            </md-button>
    
        </md-dialog-actions>
    </div>
    
</md-dialog>
