
<style>


    .visaTable {
        table-layout: fixed;
        width: 100%;
    }

    .visaTable thead {
        border-bottom: 1px solid #ddd;
    }

    .visaTable thead, .visaTable tr,.visaTable td{
        height: 30px;
        padding: 5px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
    }

    .myContainer {
        width: 100%;
        height: 100%;
    }

    .visaCheckbox {
        /* text-align: center; */
        padding-top: 15px;
        text-overflow: clip !important;
    }

    .myBtn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .tableTd {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px;
    }

    .validOrNot {
        width: 39%;
        height: 200px;
        float: right;
        
    }

    .graphStat {
        width: 60%;
        min-height: 200px;
        float: left;
        border-right: 1px solid #ddd;
    }

    md-checkbox[disabled] > div {
        background-color: rgb(143, 35, 35);
    }

</style>


<md-content id="myContainer" class="myContainer md-padding">
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto(1)" name="page1">
            FileList
        </md-nav-item>

        <md-nav-item md-nav-click="goto(2)" name="page2">
            Folder organization
        </md-nav-item>

        <md-nav-item md-nav-click="goto(3)" name="page3">
            Validation item
        </md-nav-item>

        <md-nav-item md-nav-click="goto(4)" name="page4">
            Graph
        </md-nav-item>

    </md-nav-bar>

    <div class="content" ng-if="currentPage == 1">
        <div class="search">
            <md-input-container class="md-block">
                <input  ng-model="searchText" placeholder="search by name or path"/>
            </md-input-container>
        </div>


        <md-input-container class="md-block" flex-gt-sm>
            <label>Item Displayed</label>
            <md-select ng-model="itemValid">
              <md-option value="all">All</md-option>
              <md-option value="notValid">Not valid</md-option>
              <md-option value="valid">valid</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>box Displayed</label>
            <md-select ng-model="boxValid" ng-change="boxChanged(this)">
                <md-option selected value="allbox">All</md-option>
                <md-option value="validbox">Can be validate</md-option>
                <md-option value="notValidbox">Can't be validate</md-option>
                <md-option value="boxnotValidbox"> Box Not Valid</md-option>
            </md-select>
        </md-input-container>



        <div class="table">

            <table class="visaTable" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th class="tableTd"  title="name">Name</th> <!-- style="width: 15%" -->
                        <th class="tableTd"  title="Path">Path</th> <!-- style="width: 20%"-->
                        <th class="tableTd"  title="Message">Description</th> <!-- style="width: 20%" -->
                        <th class="tableTd" ng-if="myAllCases.length > 0" ng-repeat="case in myAllCases track by $index">{{case.name.get() | uppercase}}</th>
                        <th class="tableTd"  title="Date">Creation Date</th> <!-- style="width: 10%" -->
                        <th class="tableTd"  title="validate before">Validate Before</th> <!-- style="width: 10%" -->
                        <th class="tableTd"  title="State">%</th> <!-- style="width: 10%" -->
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in allItems | searchFilter:searchText | displayFilter:itemValid  track by $index">
                        <td style="text-align : center" title="You have {{getDateInfo(item)['days']}} day(s) left to validate">
                                <i ng-style="{'color' : getDateInfo(item)['color']}" class="{{getDateInfo(item)['icon']}}"></i>
                        </td>

                        <td title="{{item.name.get()}}" class="tableTd">{{item.name.get()}}</td>
                        <td title="{{item._info.visaValidation.path.get()}}" class="tableTd">{{item._info.visaValidation.path.get()}}</td>
                        <td title="{{item._info.visaValidation.message.get()}}" class="tableTd">{{item._info.visaValidation.message.get()}}</td>
                        <td class="visaCheckbox" ng-if="item._info.visaValidation.validation.length > 0" ng-repeat="j in item._info.visaValidation.validation track by $index">
                            <!-- <md-checkbox  aria-label="checkbox" ng-disabled="!j.canBeChecked.get() || !userCanCheck(j)" ng-model="checkbox" ng-checked="j.valid.get()" ng-click="checkCase(j._server_id,item._info.visaValidation)"></md-checkbox> -->
                            <md-checkbox aria-label="checkbox" ng-if="canBeDisplay(j)" ng-disabled="!j.canBeChecked.get() || !userCanCheck(j)" ng-model="checkbox" ng-checked="j.valid.get()" ng-click="checkCase(j._server_id,item._info.visaValidation)"></md-checkbox>
                            <!-- {{canBeDisplay(j)}} -->
                        </td>
                        
                        <td title="{{item._info.visaValidation.date.get() | date}}" class="tableTd">{{item._info.visaValidation.date.get() | date}}</td>

                        <td title="{{item._info.visaValidation.validate_before.get() | date}}" class="tableTd">{{item._info.visaValidation.validate_before.get() | date}}</td>

                        <td title="{{item._info.visaValidation.isValid.get()}} %" class="tableTd">
                            {{item._info.visaValidation.isValid.get()}} %
                        </td>
                        <td style="text-align : center" title="menu">
                            <md-menu>
                                <md-button aria-label="open menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <i class="fa fa-ellipsis-v"></i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="tableMenu in tableMenuContent">
                                        <md-button ng-click="menuItemSelected(tableMenu,item,$event)">
                                            <i class="fa fa-{{tableMenu.icon}}"></i>
                                            &nbsp;
                                            {{tableMenu.name}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



    <div class="content" ng-if="currentPage == 2">
        <folder-organization tree-plugins="contextmenu,dnd"
        tree-contextmenu="contextMenu"
        disableSelect-contextmenu
        tree-data="scope"
        tree-model="fsdir"
        tree-core="treeCore"
        tree-events="select_node:onChangeNodeTree;open_node:onChangeNodeTree;close_node:onChangeNodeTree"
        tree-binds="dblclick.jstree:onbdlclick"></folder-organization>
    </div>


    <div class="content" ng-if="currentPage == 3">

            <md-button class="myBtn md-raised" ng-click="editFileInfo($event)">
                <i class="fa fa-plus"></i>
                Add Validation Case
            </md-button>

        <div class="table">

            <table class="visaTable" style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 20%" title="name">Name</th>
                        <th style="width: 40%" title="Path">Desription</th>
                        <th style="width: 20%" title="Permission">Permission</th>
                        <th style="width: 20%"></th>   
                        <th style="width: 20%"></th>     
                    </tr>
                </thead>

                <tbody>  
                    <tr ng-if="myAllCases.length > 0" ng-repeat="myCase in myAllCases track by $index">
                        <td>{{myCase.name}}</td>
                        <td>{{myCase.description}}</td>
                        <td>{{displayAllUsers(myCase.users)}}</td>
                        <td>
                            <md-button aria-label="edit" ng-click="editFileInfo($event,myCase)">
                                <i class="fa fa-pencil"></i>
                            </md-button>
                        </td>
                        <td>
                            <md-button aria-label="delete" ng-click="deleteValidationCase(myCase)">
                                <i class="fa fa-trash"></i>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="content" ng-if="currentPage == 4">

        <div class="graphStat">
            <h4>Hello</h4>
            <canvas id="myStat" width="100%" height="90%" case-progress-directive></canvas>
        </div>

        <div class="validOrNot">
            <h4>World</h4>
            <canvas id="myChart" width="100%" height="90%" chart-directive></canvas>
        </div>
    </div>

</md-content>