
<style>


    .visaTable {
        table-layout: fixed;
        width: 100%;
    }

    .visaTable thead {
        border-bottom: 1px solid #ddd;
    }

    .visaTable thead, .visaTable tr,.visaTable td{
        height: 30px;
        padding: 5px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
    }

    .myContainer {
        width: 100%;
        height: 100%;
    }

    .visaCheckbox {
        /* text-align: center; */
        padding-top: 15px;
    }

    .myBtn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .tableTd {
        text-overflow: ellipsis;
    }

</style>


<md-content id="myContainer" class="myContainer md-padding">
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto(1)" name="page1">
            FileList
        </md-nav-item>

        <md-nav-item md-nav-click="goto(2)" name="page2">
            Folder organization
        </md-nav-item>

        <md-nav-item md-nav-click="goto(3)" name="page3">
            Validation item
        </md-nav-item>

        <md-nav-item md-nav-click="goto(4)" name="page4">
            Graph
        </md-nav-item>

    </md-nav-bar>



    <div class="content" ng-if="currentPage == 1">
        <div class="search">
            <md-input-container class="md-block">
                <label>Search</label>
                <input  ng-model="searchText"/>
            </md-input-container>
        </div>


        <md-input-container class="md-block" flex-gt-sm>
            <label>Display</label>
            <md-select ng-model="itemValid">
              <md-option value="all">All</md-option>
              <md-option value="notValid">Not valid</md-option>
              <md-option value="valid">valid</md-option>
            </md-select>
        </md-input-container>



        <div class="table">

            <table class="visaTable" style="width: 100%">
                <thead>
                    <tr>
                        <th class="tableTd" style="width: 15%" title="name">Name</th>
                        <th class="tableTd" style="width: 30%" title="Path">Path</th>
                        <th class="tableTd" ng-repeat="case in myAllCases track by $index">{{case.name.get() | uppercase}}</th>
                        <th class="tableTd" style="width: 10%" title="Date">Date</th>
                        <th class="tableTd" style="width: 10%" title="State">%</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in allItems | searchFilter:searchText | displayFilter:itemValid  track by $index">
                        <td title="{{item.name.get()}}" class="tableTd">{{item.name.get()}}</td>
                        <td title="{{item._info.visaValidation.path.get()}}" class="tableTd">{{item._info.visaValidation.path.get()}}</td>
                        <td class="tableTd visaCheckbox" ng-if="item._info.visaValidation.validation.length > 0" ng-repeat="j in item._info.visaValidation.validation track by $index">
                            <md-checkbox aria-label="checkbox" ng-model="checkbox" ng-checked="j.valid.get()" ng-click="checkCase(j._server_id,item._info.visaValidation)"></md-checkbox>
                        </td>
                        
                        <td title="{{item._info.visaValidation.date.get() | date}}" class="tableTd">{{item._info.visaValidation.date.get() | date}}</td>

                        <td title="{{item._info.visaValidation.isValid.get()}} %" class="tableTd">
                            {{item._info.visaValidation.isValid.get()}} %
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>



    <div class="content" ng-if="currentPage == 2">
        <folder-organization tree-plugins="contextmenu,dnd"
        tree-contextmenu="contextMenu"
        disableSelect-contextmenu
        tree-data="scope"
        tree-model="fsdir"
        tree-core="treeCore"
        tree-events="select_node:onChangeNodeTree;open_node:onChangeNodeTree;close_node:onChangeNodeTree"
        tree-binds="dblclick.jstree:onbdlclick"></folder-organization>
    </div>



    <div class="content" ng-if="currentPage == 3">

            <md-button class="myBtn md-raised" ng-click="editFileInfo($event)">
                <i class="fa fa-plus"></i>
                Add Validation Case
            </md-button>

        <div class="table">

            <table class="visaTable" style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 20%" title="name">Name</th>
                        <th style="width: 40%" title="Path">Desription</th>
                        <th style="width: 20%" title="Permission">Permission</th>
                        <th style="width: 20%"></th>   
                        <th style="width: 20%"></th>     
                    </tr>
                </thead>

                <tbody>  
                    <tr ng-if="myAllCases.length > 0" ng-repeat="myCase in myAllCases track by $index">
                        <td>{{myCase.name}}</td>
                        <td>{{myCase.description}}</td>
                        <td>{{displayAllUsers(myCase.users)}}</td>
                        <td>
                            <md-button aria-label="edit" ng-click="editFileInfo($event,myCase)">
                                <i class="fa fa-pencil"></i>
                            </md-button>
                        </td>
                        <td>
                            <md-button aria-label="delete" ng-click="deleteValidationCase(myCase)">
                                <i class="fa fa-trash"></i>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="content" ng-if="currentPage == 4">
        <canvas id="myChart" width="400" height="400" chart-directive></canvas>
    </div>

</md-content>