

<style>

    .content {
        padding: 10px;
    }

    .visaTable {
        table-layout: fixed;
        width: 100%;
    }

    .visaTable thead {
        border-bottom: 1px solid #ddd;
    }

    .visaTable thead tr th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .visaTable thead, .visaTable tr,.visaTable td{
        height: 30px;
        padding: 5px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
    }

    .myContainer {
        width: 100%;
        height: 100%;
    }

    .visaCheckbox {
        /* text-align: center; */
        padding-top: 15px;
        text-overflow: clip !important;
    }

</style>

<md-content class="myContainer" folder-drop folderdrop-events="folderDropCfg">
    <div class="content">
        <div class="search">
            <md-input-container class="md-block">
                <label>Search</label>
                <input  ng-model="searchText"/>
            </md-input-container>
        </div>


        <md-input-container class="md-block" flex-gt-sm>
            <label>Display</label>
            <md-select ng-model="itemValid">
              <md-option value="all">All</md-option>
              <md-option value="notValid">Not valid</md-option>
              <md-option value="valid">valid</md-option>
            </md-select>
        </md-input-container>


        <div class="table">

            <table class="visaTable" style="width: 100%">
                <thead>
                    <tr>
                        <th title="name">Name</th> <!-- style="width: 15%" -->
                        <th title="Path">Path</th> <!-- style="width: 30%" -->
                        <th title="Message">Message</th> <!-- style="width: 20%" -->
                        <th ng-if="headerList.length > 0" ng-repeat="header in headerList track by $index" title="{{header.name.get() | uppercase}}">{{header.name.get() | uppercase}}</th>
                        <th title="Date" >Creation Date</th> <!-- style="width: 10%" -->
                        <th title="validate before">Validate Before</th> <!-- style="width: 10%" -->
                        <th title="State" >%</th> <!-- style="width: 10%" -->
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in allItems | searchFilter:searchText | displayFilter:itemValid  track by $index">
                        <td title="{{item.name.get()}}">{{item.name.get()}}</td>
                        <td title="{{item._info.visaValidation.path.get()}}">{{item._info.visaValidation.path.get()}}</td>
                        <td title="{{item._info.visaValidation.message.get()}}">{{item._info.visaValidation.message.get()}}</td>
                        <td class="visaCheckbox" ng-if="item._info.visaValidation.validation.length > 0" ng-repeat="j in item._info.visaValidation.validation track by $index">
                            <md-checkbox disabled ng-model="checkbox" ng-checked="j.valid.get()" ng-click="checkCase(j._server_id,item._info.visaValidation)"></md-checkbox>
                        </td>
                        
                        <td title="{{item._info.visaValidation.date.get() | date}}">{{item._info.visaValidation.date.get() | date}}</td>

                        <td title="{{item._info.visaValidation.validate_before.get() | date}}" class="tableTd">{{item._info.visaValidation.validate_before.get() | date}}</td>

                        <td title="{{item._info.visaValidation.isValid.get()}} %">
                            {{item._info.visaValidation.isValid.get()}} %
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</md-content>