

<style>
    ._container {
        padding : 10px;
    }

    section {
        margin-top: 20px;   
    }

    .visaTable {
        table-layout: fixed;
        width: 100%;
    }

    .visaTable thead {
        border-bottom: 1px solid #ddd;
    }

    .visaTable thead, .visaTable tr{
        height: 50px;
        text-overflow: ellipsis;
    }

    .visaCheckbox {
        padding-top: 10px;
    }

    .td_valid {
        border-left: 1px solid #ddd;
        padding-left: 10px;
    }


</style>

<div class="_container">

    <div class="header_button">
        <md-button class="md-fab" aria-label="add groupProcess" ng-click="addVisaStateValidation($event)">
            <md-tooltip>Add Process</md-tooltip>
            <ng-md-icon icon="note_add" style="fill:white; height: 24px;"></ng-md-icon>
        </md-button>

        <md-button ng-click="addTest()">Test</md-button>
    </div>

    <header>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Visa state</label>
            <md-select ng-model="visa_server_id" ng-change="selecteChange()">
            <md-option ng-repeat="visa in allVisa track by $index" value="{{visa._server_id}}">
                {{visa.name}}
            </md-option>
            </md-select>
        </md-input-container>
    </header>

    <section>

        <table class="visaTable" ng-if="visa_server_id != -1">
            <thead>
                <tr>
                    <th style="width: 20%" title="name">Name</th>
                    <th ng-repeat="visa in visaSelected._info.listVisaValidation">
                        {{visa}}
                    </th>
                    <th class="td_valid">Valid</th>
                </tr>
            </thead>

            <tbody ng-if="visa_server_id != -1">
                <tr ng-if="visaSelectedContent.length > 0" ng-repeat="item in visaSelectedContent">
                    <td title="{{item.name}}">{{item.name}}</td>
                    <td class="visaCheckbox" ng-repeat="j in item._info.visaValidation.validation">
                        <md-checkbox ng-model="checkbox" ng-checked="j.valid.get()" ng-click="checkCase(j._server_id,item._info.visaValidation)"></md-checkbox>
                    </td>
                    <td class="td_valid visaCheckbox">
                        <md-checkbox disabled ng-checked="item._info.visaValidation.isValid.get()"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-if="visa_server_id == -1">
            No State Selected !
        </div>
    </section>
</div>